/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	font-family: 'Noto Sans' sans-serif;
}
body {
	color: $white;
	overflow: hidden;
}
*, *:before, *:after {
	  box-sizing: inherit;
	  
}
img {
	width: 100%;
	max-width: 100%;
}
.btn {
	border-radius: .5rem;
	border: none;
	cursor: pointer;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.title {
	font-size: $medium;
}
.fw-bold {font-weight: bold;}
.up-case{text-transform: uppercase;}
.gray-color{color: #828282}
