$primary: #252329;
$secondary: #120F13;
$black: #120F13;
$light-gray: #3C393F;
$blue: #2F80ED;
$red: #EB5757;
$white: #E0E0E0;

$small: .75rem;
$normal: .875rem;
$medium: 1.125rem;

$tablets: 768px;
$desktop: 1025px;
